meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Funciones lineales, estadística y geometría
meta(meta name="description" content="La resolución de ecuaciones desarrolla el pensamiento algebraico del individuo, a la vez que consigue hallar el valor de una o dos variables que se desconocen. Igualmente, la geometría, permite determinar las dimensiones de todos los espacios y objetos que nos rodean y que hacen parte de nuestra vida y situaciones cotidianas.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")