

.container
    .header-ecored
        h1 1. Relaciones y funciones
    .jumbotron.bg-white#relacion
        .sub-line.mt-5
            h2 1.1	Relación

        p Es la correspondencia de un primer conjunto llamado Dominio o Partida, con un segundo conjunto llamado Recorrido, Rango o Llegada, de tal manera que a cada elemento del Dominio le corresponde un elemento del Rango. 

        p Todas las relaciones pueden graficarse en el diagrama de Venn, en el que se representan los conjuntos y en el plano cartesiano.

        p Toda relación definida de A en B es cualquier subconjunto de parejas ordenadas (par ordenado) del producto cartesiano A x B
        .row.mb-5   
            .col-auto    
                .media_link            
                    .media_link__icon.icon--lg
                        img(src="assets/images/pages/ilustraciones/eje.svg", alt="")
                    .media_link__txt
                        p Se tienen dos conjuntos A y B, entonces sí:  
                        p A = {2,3}; B = {1,4,5}, encontrar tres relaciones definidas de A en B

                        p Solución
                        p El producto cartesiano es: A x B = {(2,1), (2,4), (2,5), (3,1), (3,4), (3,5)}
      
        p.mt-5 Cada uno de los siguientes subconjuntos es una relación definida de A en B:

            ul
                li R1 = {(2,1), (3,1)}; se puede definir como el conjunto de pares cuyo segundo elemento es 1 	y se exresa como R1 = {(x, y) | y = 1} 
        .row.justify-content-center.align-items-center.mt-5 
            .col-12.col-md-7
                img.img-a.mb-5(src="assets/images/pages/ilustraciones/img3.svg").img-fluid 
                                  
            ul
                li 	R2 = {(2,4), (2,5), (3,4), (3,5)}; se puede definir por los pares, cuyo primer componente es menor que el segundo y se expresa como: R2 = {(x, y) | x < y}

        .row.justify-content-center.align-items-center.mt-5 
            .col-12.col-md-7
                img.img-a.mb-5(src="assets/images/pages/ilustraciones/img4.svg").img-fluid 
            ul
                li 	R3 = {(2,4), (3,5)}; se puede definir por los pares que cumplen en el segundo componente mayor en dos unidades que el primero y se expresa como: R3 = {(x, y) | y = x + 2}

        .row.justify-content-center.align-items-center.mt-5 
            .col-12.col-md-7
                img.img-a.mb-5(src="assets/images/pages/ilustraciones/img5.svg").img-fluid 

        .row.mb-5   
            .col-auto    
                .media_link            
                    .media_link__icon.icon--lg
                        img(src="assets/images/pages/ilustraciones/info.svg", alt="")
                    .media_link__txt
                        p #[strong Ejercicio de práctrica]
                        p Desarrollar la siguiente relación, elaborando las respectivas gráficas:
                        p Dados los conjuntos C = {1,-3} y D = {2,3,6}, encontrar todos los pares ordenados que cumplan la relación R = {(x, y) | x + y = 3}

        .sub-line.mt-5#funcion
            h2 1.2 Función
        p Según Aguilar (2015); una función es la relación que existe entre dos conjuntos, de manera que a los elementos de x les corresponde a lo más un elemento de y. 

        p Se denota por: 
        .row.justify-content-center.align-items-center
            .col-10.col-md-2.bg-p
                p.text-center.mt-3 y=f(x)
        p Se lee, y es igual a f de x; 

        p.mb-0 Donde:    
        p.mb-0 x: variable independiente 
        p.mb-0 y: variable dependiente
        p.mb-0 f(x): regla de correspondencia                             

        .row.justify-content-center.align-items-stretch.mt-5 
            .col-12.col-md-3
                p.ejemplo.text-center Constante
            .col-12.col-md-9.vl
                p Es la función que asocia un mismo valor a cada valor de la variable independiente:
                p Se denota por: 
                .row.pl-2
                    .col-10.col-md-2.bg-p
                        p.text-center.mt-3 y=k
                
        .row.justify-content-center.align-items-stretch.mt-5 
            .col-12       
                p.my-5 La representación gráfica es una línea recta paralela al eje X, sobre la ordenada que toma el valor de k.
        .row.mb-5   
            .col-auto    
                .media_link            
                    .media_link__icon.icon--lg
                        img(src="assets/images/pages/ilustraciones/eje.svg", alt="")
                    .media_link__txt
                        p Graficar la función y = 2

                        p Solución

                        p Se traza una recta paralela al eje X, sobre la ordenada 2                 

        .row.justify-content-center.align-items-center.mt-5            
            .col-12.col-md-6
               img.img-a.my-2(src="assets/images/pages/ilustraciones/img6.svg").img-fluid   

    
        .sub-line.mt-5#lineal
            h2 1.3 Función lineal
        p Se llama función lineal a la función que tiene la siguiente estructura:
        .row.justify-content-center.align-items-center
            .col-10.col-md-2.bg-p
                p.text-center.mt-3 y=mx + b

        p.mb-0 Donde:
        p.mb-0 m= es una constante que corresponde a un número real diferente de cero
        p.mb-0 b = distancia del punto (0,0) al punto (0, b).


    
        .sub-line.mt-5#graficas
            h2 1.4 Análisis de gráficas 
        p Para representar la función lineal se debe tener en cuenta los valores que toma, de acuerdo con las siguientes condiciones:
        ul
            li La gráfica es una línea recta que pasa por el origen del plano cartesiano 		o por el punto (0,0)
            li El valor de m es una constante de proporcionalidad. 
            li Si m > 0 se dice que la función es creciente, es decir, que a medida que aumenta el valor de x también aumenta el valor de y.
        p Gráficamente: 
        .row.justify-content-center.align-items-center.mt-5            
            .col-12.col-md-6
               img.img-a.my-2(src="assets/images/pages/ilustraciones/img7.svg").img-fluid 
        
        ul.mt-5
            li Si m < 0, la función es decreciente; es decir, que a medida que aumenta 	el valor de x, disminuye el valor de y.
        .row.justify-content-center.align-items-center.mt-5            
            .col-12.col-md-6
               img.img-a.my-2(src="assets/images/pages/ilustraciones/img8.svg").img-fluid 

        p.mt-5 A medida que aumenta el valor de x, se mantiene el mismo valor de y.
        p Si m = 0; entonces, la función será constante, en este caso su gráfica es una línea recta paralela al eje x, es decir no tiene inclinación.
        .row.justify-content-center.align-items-center.my-5            
            .col-12.col-md-6
               img.img-a(src="assets/images/pages/ilustraciones/img9.svg").img-fluid

        .header-arrow
            h3.text-center Ejemplo de función creciente 

        p.mt-5 Graficar la función f(x)=4x +3 la función es de la forma f(x) = mx + b; donde m>0

        p Se enfocan los elementos de línea recta, dándole valores a x:

        .row.justify-content-center.align-items-center.my-5
            .col-5.text-center
                table
                    tbody
                            tr
                                td.table2 x
                                td.table2 0
                                td.table2 1 
                                td.table2 2
                                td.table2 -1

                            tr
                                td.table2 f(x)
                                td.table2 0
                                td.table2 1 
                                td.table2 2
                                td.table2 -1

        p La anterior función corresponde a la forma f(x) = mx+ b

        p Se dan los valores a la variable x y se obtienen los siguientes valores de f(x), susutiyendolos en la función: 
        .row.justify-content-center.align-items-center.my-5
            .col-10.text-center
                table
                    tbody
                            tr
                                td.table2 x
                                td.table2 0
                                td.table2 1 
                                td.table2 2
                                td.table2 -1

                            tr
                                td.table2 f(x)
                                td.table2 4(0)+3 = 3
                                td.table2 4(1)+3 = 7 
                                td.table2 4(2)-+ = 9
                                td.table2 4(-1)+3 = -1    

        p Con estos valores se elabora la gráfica:
        .row.justify-content-center.align-items-center.my-5
            .col-12.col-md-6       
                img.img-a(src="assets/images/pages/ilustraciones/imge1.png").img-fluid          
        p Observe que el valor de m > 0 y el exponente de x es 1, la función corresponde a una línea recta cuya pendiente 4 mayor que 0, se inclina a la derecha, por lo tanto, es una función que crece y aumenta conforme aumenta el valor de x. 

        p El punto de corte con el eje y, es cuando x =0, aquí el valor que toma la función es 
        p f(x) = 3, y se seguirá desplazando hacia la derecha conforme le damos valores positivos a x.  

        p Si x = -1 el valor de la f(x) = -1, observemos que la inclinación de la línea es hacia la derecha así coloquemos valores de x negativos, puesto que la pendiente de la función es positiva o mayor que cero.

        p La  función es una línea recta ya que tiene exponente 1 en la x y además es creciente ya que la pendiente es mayor que cero. 

        .header-arrow.mt-5
            h3.text-center Ejemplo de función decreciente          
        p.mt-5 Graficar f(x) = -2x + 1; la función es de la forma f(x) = mx + b; donde m< 0

        p Con respecto a la gráfica se enfocan los elementos de la función, dándole valores a x:
        .row.justify-content-center.align-items-center.my-5
            .col-5.text-center
                table
                    tbody
                            tr
                                td.table2 x
                                td.table2 0
                                td.table2 1 
                                td.table2 2
                                td.table2 -1

                            tr
                                td.table2 f(x)
                                td.table2 3
                                td.table2 4 
                                td.table2 9
                                td.table2 -1

        p La anterior función corresponde a la forma f(x) = mx+ b

        p Se dan valores a la variable x y se obtienen los siguientes valores de f(x), susutiyendo en la función: 
        .row.justify-content-center.align-items-center.my-5
            .col-10.text-center
                table
                    tbody
                            tr
                                td.table2 x
                                td.table2 0
                                td.table2 1 
                                td.table2 2
                                td.table2 -1

                            tr
                                td.table2 f(x)
                                td.table2 -2(0)+1 = 1
                                td.table2 -2(1)+1 = -1 
                                td.table2 -2(2)+1 = 3
                                td.table2 -2(-1)+1 = 3   

        p Y con estos valores se elabora la gráfica:
        .row.justify-content-center.align-items-center.my-5
            .col-12.col-md-6       
                img.img-a(src="assets/images/pages/ilustraciones/imge2.png").img-fluid  
        
        p Observe que el valor de m < 0 y el exponente de x es 1, la función corresponde a una línea recta cuya pendiente -2 es  menor que 0, se inclina a la izquierda, por lo tanto es una función que decrece y disminuye conforme disminuye el valor de x. 

        p El punto de corte con el eje y, es cuando x =0, aquí el valor que toma la función es f(x) = 1, y se seguirá desplazando hacia la izquierda conforme se dan valores negativos a x.  

        p Si x = -1 el valor de la f(x) = 3, observe que la inclinación de la línea es hacia la izquierda así se coloquen valores de x positivos, puesto que la pendiente de la función es negativa o menor que cero.

        p La  función es una línea recta ya que tiene exponente 1 en la x y además es decreciente ya que la pendiente es menor que cero.

        .header-arrow.mt-5
            h3.text-center Ejemplo de función constante  
        p.mt-5 Graficar f(x) = 3; la función es de la forma f(x) = mx + b; donde m= 0
        p Con respecto a la gráfica se enfoca los elementos de la función, dándole valores a x:

        .row.justify-content-center.align-items-center.my-5
            .col-5.text-center
                table
                    tbody
                            tr
                                td.table2 x
                                td.table2 0
                                td.table2 1 
                                td.table2 2
                                td.table2 -1
                                td.table2 -2
                                td.table2 -3   

                            tr
                                td.table2 f(x)
                                td.table2 3
                                td.table2 3 
                                td.table2 3
                                td.table2 3
                                td.table2 3
                                td.table2 3                       

        p La anterior función corresponde a la forma f(x) = mx+ b

        p Se dan valores a la variable x y se obtienen los siguientes valores de f(x), susutiyendo en la función: 

        .row.justify-content-center.align-items-center.my-5
            .col-5.text-center
                table
                    tbody
                            tr
                                td.table2 x
                                td.table2 0
                                td.table2 1 
                                td.table2 2
                                td.table2 -1
                                td.table2 -2

                            tr
                                td.table2 f(x)
                                td.table2 0(0)+3 = 3
                                td.table2 0(0)+3 = 3 
                                td.table2 0(2)+3 = 3
                                td.table2 0(-1)+3 = 3
                                td.table2 0(-2)+3 = 3
  
        p Y con estos valores se elabora la gráfica:

        .row.justify-content-center.align-items-center.my-5
            .col-12.col-md-6       
                img.img-a(src="assets/images/pages/ilustraciones/imge4.png").img-fluid          
        p Observe que el valor de m = 0 y el exponente de x es 1, la función corresponde a una línea recta cuya pendiente es igual 0 y por lo tanto no se inclinará, esto quiere decir que la función es constante y no aumenta ni disminuye conforme se le dan valores a x. 

        p El punto de corte con el eje y, es 3, no importa el valor que tome x.  

        p Si x = -1 el valor de la f(x) = 3, observe que la inclinación de la línea es hacia la izquierda así se coloquen valores de x positivos, puesto que la pendiente de la función es negativa o menor que cero.

        p La  función es una línea recta ya que tiene exponente 1 en la x y además es constante ya que la pendiente es igual a cero.
    
        .sub-line.mt-5#aplicacion
            h2 1.5 Aplicación de las funciones lineales
        p Las funciones tienen aplicación en la vida cotidiana, veamos algunos ejemplos:        

        .header-arrow.mt-5
            h3.text-center Ejemplo 1
        p.mt-5 Un tren de alta velocidad que conecta a varias ciudades lleva una velocidad media de 250 km/h. Hallar la distancia que recorre en función del tiempo y graficar.

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img16.png").img-fluid 

        p Solución: 

        p En la tabla que se observa a continuación se muestra la distancia que recorre el tren cada hora.

        p Obsérvese que la distancia está en función del tiempo, donde se conserva una velocidad media que equivale a una constante = 250, que en este caso es m y al expresar la función se tiene que: D(t) = 250t 

        table.table.table-bordered.table-striped.mt-5
            tbody
                tr
                    td t (tiempo en horas)
                    td 1
                    td 2
                    td 3
                    td 4
                    td 5
                    td ........ 

            tbody
                tr.table2 
                    td D (t) distancia recorrida en Km
                    td 250
                    td 500
                    td 750
                    td 1000
                    td 1250
                    td ........ 

        p Cada punto de la función es entonces: (250, 1), (500,2), (750,3), (1000,4), (1250,5), …. y así sucesivamente. Si el tiempo es cero, la distancia es cero, luego la recta pasa por el punto (0,0).

        p Al graficar tenemos: 
        img.mxw1.img-a.my-5(src="assets/images/pages/ilustraciones/img17.png").img-fluid  
        p La función es creciente, puesto que a medida que aumenta el tiempo (t),  aumenta la  distancia (D) recorrida por el tren.        

        .header-arrow.mt-5
            h3.text-center Ejemplo 2

        p.mt-5 En un experimento se midió la temperatura de cierto líquido que aumenta gradualmente cada minuto. Representar los datos de la tabla gráficamente y determinar la función que representa.

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img19.png").img-fluid 

        table.table.table-bordered.table-striped
            tbody
                tr
                    td tiempo en minutos (x)
                    td 1
                    td 2
                    td 3
                    td 4
                    td 5
                    td ........ 

            tbody
                tr.table2 
                    td Temperatura en °C (y)
                    td 10
                    td 20
                    td 30
                    td 40
                    td 50
                    td ........  


        p Solución: 

        p Al graficar los puntos que representan la relación dada, es decir, el tiempo que transcurre y la temperatura del líquido se obtiene una línea recta que no pasa por el punto (0,0). 

        .row.justify-content-center.align-items-center.mt-5            
            .col-12.col-md-6
               img.img-a.my-2(src="assets/images/pages/ilustraciones/img10.svg").img-fluid 

        p.mt-3 La gráfica pasa por el punto (0, b), luego la estructura de la función que representa es de la forma 
        .row.justify-content-center.align-items-center
            .col-10.col-md-4.bg-p
                p.text-center.mt-3 Y = mx + b; donde b = 10
        p.mt-5 La constante de proporcionalidad es 10, puesto que los valores de la temperatura del líquido aumentan como se muestra a continuación:

        p.mb-0.ml-3 10 x 1 = 10
        p.mb-0.ml-3 10 x 2 = 20
        p.mb-0.ml-3 10 x 3 = 30
        p.mb-0.ml-3 10 x 4 = 40 
        p.mb-3.ml-3 10 x 5 = 50

        p El número 10 es la constante de proporcionalidad, la T° del líquido aumenta en función del tiempo, luego la función se puede expresar como: Y = 10x + 10.

        p La función es creciente, puesto que a medida que aumenta x, aumenta y o a medida que aumenta el tiempo, aumenta la t° del líquido. 

        .header-arrow.mt-5
            h3.text-center Ejemplo 3
        p.mt-5 <b>GamerX Ltda.</b>, produce controles remoto de alta calidad para videojuegos. La empresa publicó un anuncio publicitario en una página de videojuegos. El costo del anuncio es de $400.000, la producción de cada control es de $100.000 y la empresa cobra $140.000 por control. Grafique las funciones de costo e ingreso sobre el mismo plano cartesiano e interprete la gráfica.

        p Para este problema se deben graficar dos funciones, veamos:

        .list
            .list__item
              .list__item__bulletNumber
                span 1
            .list__txt
                p Se construye la función teniendo en cuenta el costo fijo, que en este caso es el costo de la publicidad $400.000 y el costo variable de producción del control que es de $100.000, entonces la función C de costos se puede expresar como una función de x, el número de controles producidos.

                h3.text-center C(x)=100.000x+400.000

        .list
            .list__item
              .list__item__bulletNumber
                span 2
            .list__txt
                p Cada control se vende en $140.000, entonces el ingreso R se puede expresar como una función de x, el número de controles vendidos,

                h3.text-center R(x)=140.000x
                ul    
                    li Al graficar cada función obtenemos
                    
        .row.justify-content-center.align-items-center.my-5
            .col-12.col-md-6       
                img.img-a(src="assets/images/pages/ilustraciones/imge5.png").img-fluid  

        .list
            .list__item
              .list__item__bulletNumber
                span 3
            .list__txt  
                p Para este caso los valores negativos de x no se tienen en cuenta en las dos funciones, ya que no tiene sentido hablar de unidades negativas fabricadas y vendidas, por lo tanto, la menor cantidad de unidades producidas y vendidas será cero.              
                 
        .list
            .list__item
              .list__item__bulletNumber
                span 4
            .list__txt
                p Una vez construida cada función se resalta la pendiente y el punto de corte con el eje “y”.   


        .list
            .list__item
              .list__item__bulletNumber
                span 5
            .list__txt 
                p También el significado del punto de corte de las dos funciones con el eje “y” será el valor inicial que tomen las funciones, es decir cuando x es igual a cero el costo fijo se paga produzca o no controles. 

        .list
            .list__item
              .list__item__bulletNumber
                span 6
            .list__txt 
                p El punto de equilibrio es el punto de corte de las dos funciones, es decir en el punto (10, 1’400.000), en este punto la empresa no obtiene ganancias, ni perdidas.  La parte de las funciones debajo de ese punto son pérdidas y la parte de arriba corresponde a la ganancia.                                               

        p.mt-5 En el siguiente video se puede apreciar la construcción de la gráfica con sus respectivas funciones para la solución del problema planteado
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/0HsZYxICQN4', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')        

        hr.hr-orange
        section

            a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=4829&pg=417" target="_blank").media-link      

                img(src="assets/images/pages/ilustraciones/icon_www.svg", alt="").media-link-icon

                .media-link-title.ml-4
                    p #[strong Anexo]. Puedes practicar sobre las funciones lineales con problemas cotidianos de Aguilar (2015), Capítulo 7. Función lineal: pp. 391.    
        hr.hr-orange