
.container
    .header-ecored
        h1 2. Ecuaciones
    .jumbotron.bg-white
        p Una ecuación es una igualdad matemática entre dos expresiones que están separadas por el signo igual, en las que aparecen datos conocidos (números, coeficientes o constantes) y datos desconocidos o incógnitas. Estos datos están relacionados mediante operaciones matemáticas.

        .sub-line.mt-5#ecuaciones_lineales
            h2 2.1	Ecuaciones lineales
        p De acuerdo con lo anterior la ecuación lineal es una igualdad matemática que tiene la siguiente estructura: 

        .row.justify-content-center.align-items-center.my-5 
            .col-10.col-md-4.bg-p2
                p.text-center.mt-3 Ax + By + C = 0       

        p donde A, B y C son constantes reales tales que A y B no son cero.  

        h3 Ejemplo:
        ul
            li 3x − 4y − 4 = 0, es una ecuación lineal con: A = 3, B = −4 y C = −4

            li Dada la ecuación 3x = 5y − 7, también se puede escribir de la forma: 3x − 5y + 7 = 0 y es una ecuación lineal con: A = 3, B = -5, C = 7  

        .sub-title-line.mt-5
            h3 Solución de una ecuación lineal

        p Una ecuación lineal tiene como conjunto solución todos los pares ordenados (x, y), que satisfacen la ecuación, donde x e y son números reales.


        h3 Ejemplo: Basado en Aguilar (2015)
        ul 
            li Verificar si el par ordenado (1, -4) es solución de la ecuación: 2x -3y -14 = 0

        p Solución
        ul
            li Lo que se debe hacer es sustituir los valores de (x, y) = (1,-4) en la ecuación y se debe cumplir la igualdad:  

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img23.jpg").img-fluid 

        p Lo anterior quiere decir que el par (1, -4) si es solución de la ecuación 2x -3y -14 = 0, por que se cumple la igualdad.

        .sub-title-line.mt-5
            h3 Gráfica de una ecuación lineal                     
        p Para elaborar la gráfica de una ecuación lineal se requieren dos puntos para trazar la línea en el plano cartesiano.

        h3 Ejemplo: Basado en Aguilar (2015)
        ul
            li Trazar la gráfica para la ecuación lineal 2x -3y +7 = 0, entonces se deben conocer dos puntos de la recta, por lo que se toman dos puntos arbitrarios para x y se despeja y. 

        p Entonces sustituimos en la ecuación x = -2 para conocer y:  
        
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img24.jpg").img-fluid                       

        p entonces el primer punto es (-2, 1), ahora sustituimos en la ecuación x = 1 para conocer y

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img25.jpg").img-fluid

        p entonces el primer punto es (1, 3), la gráfica de la ecuación sustituyendo estos dos puntos:

        p (-2, 1), (1, 3) es la que se observa a continuación:  
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img26.svg").img-fluid 

        hr.hr-orange
        section

            a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=4829&pg=423" target="_blank").media-link      

                img(src="assets/images/pages/ilustraciones/icon_www.svg", alt="").media-link-icon

                .media-link-title.ml-4
                    p #[strong Anexo]. Puedes practicar con problemas cotidianos de Aguilar (2015), Capítulo 7. FUNCION LINEAL: pp. 397.
        hr.hr-orange            
        .sub-line.mt-5#ecuaciones_lineales_primer_grado
            h2 2.2	Ecuaciones lineales de primer grado 
        p Una ecuación de primer grado es una igualdad que involucra una o más variables elevadas a la primera potencia y con la cual se realizan operaciones de suma y resta:
        .row.justify-content-center.align-items-center.my-5
            .col-10.col-md-4.bg-p
                p.text-center.my-3 ax + b = 0, a ≠ 0 
        p  En la anterior expresión x es la variable de la ecuación, elevada a la potencia 1. A las expresiones que quedan a lado y lado de la igualdad se les denomina términos.

        p Los valores de las variables o incógnitas que hacen que se cumpla la igualdad se llaman soluciones de la ecuación.

        p Las ecuaciones de primer grado pueden tener más de una variable o incógnita y en tal caso se expresa como:

        .row.justify-content-center.align-items-center.my-5
            .col-10.col-md-4.bg-p
                p.text-center.my-3 Y = ax + b; a≠0

        p La gráfica de esta ecuación es una línea recta, por ello se le llama ecuación lineal y se realiza sobre un plano cartesiano, proporcionando valores a la variable x, para determinar los valores que toma la variable y, luego con dichos valores se construye la recta.  

        h3 Ejemplo:  
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img27.jpg").img-fluid 

        p La variable o incógnita es x y es una ecuación, es de primer grado porque x esta elevada a la potencia 1. 

        p Si x = 3, vamos a comprobar que este valor es una solución de la ecuación, entonces, sustituimos la x por 3:     

        .row.justify-content-center.align-items-center.my-5 
            .col-10
                img.img-a.my-5(src="assets/images/pages/ilustraciones/img28.jpg").img-fluid 
                
        p Obsérvese que se cumple la igualdad, luego x = 3 es una solución de la ecuación.                    

        h3 Ejemplo: realizar la gráfica de la ecuación   y = 3x + 2

        p Proporcionamos valores arbitrarios a la variable x, que estén cercanos a cero para encontrar más fácilmente los extremos de la recta, entonces podemos escoger los valores de (-2,0,1) y obtenemos:
        ul
            li y = 3 (-2) +2; y = -6+2; y = -4
            li y = 3  (0) +2; y =  0+2; y = 2
            li y = 3  (1) +2; y =  3+2; y = 5

        p Entonces:
        .row.justify-content-center.align-items-center
            .col-6
                table.table.table-bordered.table-striped.text-center
                    tbody
                        tr.table1
                            td X
                            td Y  
                    tbody
                        tr.table3
                            td 2
                            td -4  

                    tbody
                        tr.table3
                            td 0
                            td 2

                    tbody
                        tr.table3
                            td 1
                            td 5                            

        .row.justify-content-center.align-items-center 
            .col-10
                img.img-a(src="assets/images/pages/ilustraciones/img29.svg").img-fluid

        p.mt-5.mb-0 Obsérvese que con los valores que toma la variable x, se obtienen valores para y por consiguiente se puede dibujar la gráfica.   

    
        .sub-line.mt-5#aplicacion_ecuaciones_lineales_primer_grado
            h2 2.3	Aplicación de las ecuaciones lineales de primer grado
        p Las ecuaciones de primer grado se aplican en la vida real en diferentes situaciones, veamos algunas de ellas en los siguientes ejemplos. 

        strong Ejemplo:

        p Un tren tiene 32 asientos disponibles en primera clase y 50 asientos en clase económica, si se venden todos, el valor recaudado sería de US$14600. Se han vendido 10 asientos en primera clase y 40 en clase económica obteniendo un total recaudado de US$7000. Determinar cuánto vale comprar un asiento en cada clase.    

        .row.justify-content-center.align-items-stretch.mt-5 
            .col-12.col-md-5.mr-1.bg-color2.px-5.py-5
                h3.mb-5 Datos iniciales
                p Número de asientos primera clase = 32
                p Número de asientos clase económica = 50
                p Valor total recaudado si se venden todos los asientos = US$14600
                p Asientos vendidos de primera clase = 10
                p Asientos vendidos de primera clase = 40
                p Valor total recaudado de los asientos 
                p vendidos = US$7000  
            
            .col-12.col-md-5.bg-color2.px-5.py-5  

                h3.mb-5 Variables de la ecuación
                p x = valor de un asiento en primera clase.
                p y = valor de un asiento clase económica. 
        


        p.mt-3 Solución: 
         
        p.mb-0 Si se vendieran todos los asientos de la primera clase, el valor recaudado seria = 32x
        p Si se vendieran todos los asientos de la clase económica, el valor recaudado seria = 50y

        p Se plantea la ecuación para el valor total recaudado si se vendieran todos los asientos:  
        img.img-a.my-5(src="assets/images/pages/ilustraciones/07.svg").img-fluid  

        p Se plantea la ecuación para el valor total recaudado de los asientos vendidos de primera clase y de la clase económica:
        img.img-a.my-5(src="assets/images/pages/ilustraciones/08.svg").img-fluid 

        p Luego las ecuaciones que se deben resolver para hallar el valor de cada asiento son:
        p De cada ecuación se despeja la variable x, luego se igualan, entonces de la primera ecuación al despejar x, obtenemos:
        img.img-a.my-5(src="assets/images/pages/ilustraciones/09.svg").img-fluid   

        p De la segunda ecuación al despejar x, obtenemos:
        img.img-a.my-5(src="assets/images/pages/ilustraciones/10.svg").img-fluid
        
        p Ahora se igualan las dos ecuaciones para despejar y, se obtiene:
        img.img-a.my-5(src="assets/images/pages/ilustraciones/11.svg").img-fluid 

        p Resolviendo la ecuación se despeja utilizando las reglas algebraicas; es decir 32 que está a un lado de la igualdad pasa a multiplicar al otro lado: 
        img.img-a.my-5(src="assets/images/pages/ilustraciones/12.svg").img-fluid  

        p lo anterior quiere decir que el valor de cada asiento de clase económica es de US$100; ahora debemos reemplazar el valor de y en cualquiera de las ecuaciones que tiene despejada la x, entonces:
        img.img-a.my-5(src="assets/images/pages/ilustraciones/13.svg").img-fluid
        p lo anterior quiere decir que el valor de cada asiento de primera clase es de US$300                                     

    
        .sub-line.mt-5#ecuaciones_segundo_grado
            h2 2.4 Ecuaciones de segundo grado   

        p.mb-0 Una ecuación de segundo grado es una igualdad que involucra una o más variables elevadas a la segunda potencia y con la cual se realizan operaciones de suma y resta:

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img37.svg").img-fluid 

        p En la anterior expresión x es la variable de la ecuación, elevada a la potencia 2. 

        p A las expresiones que quedan a lado y lado de la igualdad se les denomina términos. Los valores de las variables o incógnitas que hacen que se cumpla la igualdad se llaman soluciones de la ecuación.

        p.mb-0 Al igual que en las ecuaciones de primer grado las de segundo grado pueden tener más de una variable o incógnita y en tal caso se expresa como:     

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img38.svg").img-fluid 

        p.mb-0 Para resolver una ecuación cuadrática, esta se debe igualar a cero y se tiene: 

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img39.svg").img-fluid  

        p.mb-0 a, b y c son constantes y se aplica la fórmula:

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img40.svg").img-fluid 

        p.mb-0 La parte que se encuentra dentro del radical (b2 – 4ac) se llama determinante y brinda información acerca de la solución de la ecuación, es decir si:

        ul.mt-5 
            li (b#[sup 2]-4ac) > 0, la ecuación de 2° grado tiene dos posibles soluciones. 
            li (b#[sup 2]-4ac) = 0, la ecuación de 2° grado tiene una solución.
            li (b#[sup 2]-4ac) < 0, la ecuación de 2° grado no tiene soluciones.

        p La gráfica de esta ecuación es una parábola, y se realiza sobre un plano cartesiano, proporcionando valores a la variable x, para determinar los valores que toma la variable y, luego con dichos valores se hace la construcción. 
        h3 Ejemplo:
        p Realizar la gráfica de la ecuación   y = x#[sup 2] + 2x +1

        p Proporcionamos valores arbitrarios a la variable x, que estén cercanos a cero para encontrar más fácilmente los extremos de la parábola, entonces podemos escoger los valores de (-3, -2,-1, 0, 1) y obtenemos:

        .row.justify-content-center.align-items-center.mt-5 
            .col-8
                ul 
                
                    li Y = (-3)2 + 2(-3) +1; y = 9 -6 + 1; y = 4
                    li Y = (-2)2 + 2(-2) +1; y = 4 -4 + 1; y = 1
                    li Y = (-1)2 + 2(-1) +1; y = 1 -2 + 1; y = 0
                    li Y = (0)2 + 2(0) +1; y = 0 + 0 + 1; y = 1
                    li Y = (1)2 + 2(1) +1; y = 1 +2 + 1; y = 4  

        .row.justify-content-center.align-items-center
            .col-8
                table.table.table-bordered.table-striped.text-center
                    tbody
                        tr.table1
                            td X
                            td Y  
                    tbody
                        tr.table3
                            td -3
                            td 4  

                    tbody
                        tr.table3
                            td -2
                            td 1

                    tbody
                        tr.table3
                            td -1
                            td 0  

                    tbody
                        tr.table3
                            td 0
                            td 1

                    tbody
                        tr.table3
                            td 1
                            td 4                                  


        img.img-a.mt-2(src="assets/images/pages/ilustraciones/img42.svg").img-fluid 

        p.mt-3 Obsérvese que con los valores que toma la variable x, se obtienen valores para y por consiguiente se puede dibujar la gráfica. 

        p Para ver la solución de la ecuación cuadrática x<sup>2</sup> + 2x + 1 = 0, observe que:
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img43.svg").img-fluid 
        h3 a = 1, b = 2, c = 1, entonces:
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img44.svg").img-fluid 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img45.svg").img-fluid 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img46.svg").img-fluid                 
        p.mt-5 El radical es igual a cero luego el problema tiene una sola solución que es x=-1        


        .sub-line.mt-5#aplicacion_de_las_ecuaciones_de_segundo_grado
            h2 2.5	Aplicación de las ecuaciones de segundo grado
        h3 Ejemplo:
        p Juan compra cierto número de peras por US$600, al siguiente día le hubieran dado 75 peras más por la misma cantidad, esto quiere decir que le habría salido US$4 más barata cada pera. Determinar cuántas peras compró Juan y cuál fue el precio que pagó por cada una.
        .row.justify-content-center.align-items-stretch.mt-5 
            .col-12.col-md-4.mr-1.bg-color2.px-5.py-5
                h3.mb-5 Datos iniciales
                p Valor de las peras compradas = US$600
                p Peras que le hubieran dado de más al siguiente día = 75
                p Valor más barato de cada pera = US$4
            
            .col-12.col-md-3.bg-color2.px-5.py-5  

                h3.mb-5 Variables de la ecuación
                p X = número de peras compradas 
                p Y = precio de cada pera


        h3.mt-3 Solucion: 
        p La primera ecuación que se puede plantear con la cantidad inicial de peras es: 

        img.img-a.my-5(src="assets/images/pages/ilustraciones/25.svg").img-fluid  

        p La segunda ecuación se puede plantear con la cantidad de peras que hubiera comprado al siguiente día con el nuevo precio: hubiera comprado 75 peras más a 4 dólares menos cada una.

        img.img-a.my-5(src="assets/images/pages/ilustraciones/26.svg").img-fluid 

        p Sustituyendo el valor de x en la segunda ecuación se tiene que:   

        img.img-a.my-5(src="assets/images/pages/ilustraciones/27.svg").img-fluid 

        p Resolviendo los fraccionarios:   

        img.img-a.my-5(src="assets/images/pages/ilustraciones/28.svg").img-fluid  

        p Los denominadores pasan a multiplicar los términos que se encuentran a ambos lados de la igualdad, así:

        img.img-a.my-5(src="assets/images/pages/ilustraciones/29.svg").img-fluid

        p Organizando la ecuación:

        img.img-a.my-5(src="assets/images/pages/ilustraciones/30.svg").img-fluid 

        p Simplificando por 75:

        img.img-a.my-5(src="assets/images/pages/ilustraciones/31.svg").img-fluid 

        p Aplicando la fórmula: 

        img.img-a.my-5(src="assets/images/pages/ilustraciones/35.svg").img-fluid 

        p se tiene que: a = 1, b = 4, c= -32

        img.img-a.my-5(src="assets/images/pages/ilustraciones/33.svg").img-fluid  

        p hay dos soluciones:
        img.img-a.my-5(src="assets/images/pages/ilustraciones/34.svg").img-fluid 

        p <b>y1</b>, no es una solución válida puesto que da un valor negativo, luego la solución correcta es <b>y2</b>, entonces reemplazamos este valor en la primera ecuación:

        img.img-a.my-5(src="assets/images/pages/ilustraciones/35.svg").img-fluid  

        p Entonces Juan compró 150 peras a US$4 cada una.  