
.container
    .header-ecored
        h1 6. Geometría plana

    .jumbotron.bg-white
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Gj3HHse-2v0', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
   


        .sub-line.mt-5#area_de_las_figuras_planas
            h2 6.1	Área de las figuras planas
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/_MZP62aVA4o', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    
        .sub-line.mt-5#teorema_de_pitagoras
            h2 6.2 Teorema de Pitágoras
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/O74kxrZSjc0', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    
        .sub-line.mt-5#teorema_de_thales
            h2 6.3 Teorema de Thales

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/5PfDhcsJB1k', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            
        img.mxw.img-a.my-5(src="assets/images/pages/ilustraciones/img118.png").img-fluid               
        .header-arrow.mt-5
            h3.text-center Fórmulas para calcular áreas de figuras planas
        p.mt-5 A continuación, se relacionan las fórmulas para calcular el área de las figuras geométricas planas:

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img119.svg").img-fluid  
      

    
        .sub-line.mt-5#aplicacion_del_area_de_las_figuras_geometricas
            h2 6.4 Aplicación del área de las figuras geométricas

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/5Ikz-cW4VSU', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    
        .sub-line.mt-5#perimetro_de_las_figuras_planas
            h2 6.5 Perímetro de las figuras planas
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/R9Vjy8a_9rw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .header-arrow.mt-5
            h3.text-center Fórmulas para calcular el perímetro de figuras planas 
        p.mt-5 A continuación, se relacionan las fórmulas para calcular el perímetro de figuras geométricas:

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img128.svg").img-fluid 
        

    
        .sub-line.mt-5#aplicacion_perimetro_de_las_figuras_planas
            h2 6.6 Aplicación del perímetro de figuras planas
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/nF4MyiGctDU', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
      
    
        .sub-line.mt-5#rotacion_de_figuras_en_un_plano
            h2 6.7 Rotación de figuras en un plano
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/qk0lc318Hfs', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    
        .sub-line.mt-5#aplicacion_rotacion_de_figuras_en_un_plano
            h2 6.8 Aplicación de rotación de figuras en un plano
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/kipKVmNhq1E', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    
        .sub-line.mt-5#traslacion_de_figuras_en_un_plano
            h2 6.9 Traslación de figuras en un plano
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/NrcMa0qfnEs', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')     

    
        .sub-line.mt-5#aplicacion_traslacion_de_figuras_en_un_plano
            h2 6.10 Aplicación de traslación de las figuras en un plano
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Yty6EWUIvJY', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')               


    
        .sub-line.mt-5#volumen
            h2 6.11 Volumen
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/w74r67QxfyQ', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')          

    
        .sub-line.mt-5#aplicacion_volumen
            h2 6.12 Aplicación de volumen

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/clIcigxzsfg', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

