
.container
    .header-ecored
        h1 6. Geometría plana
    img.img-a.my-5(src="assets/images/pages/ilustraciones/img94.png").img-fluid

    .jumbotron.bg-white
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Gj3HHse-2v0', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
   

    .jumbotron.bg-white#area_de_las_figuras_planas
        .sub-line
            h2 6.1	Área de las figuras planas
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Ba-XFayG6Tk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    .jumbotron.bg-white#teorema_de_pitagoras
        .sub-line
            h2 6.2 Teorema de Pitágoras
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/O74kxrZSjc0', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    .jumbotron.bg-white#teorema_de_thales
        .sub-line
            h2 6.3 Teorema de Thales

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/LiQQbYFOxUE', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            
        img.mxw.img-a.my-5(src="assets/images/pages/ilustraciones/img118.png").img-fluid               
        p A continuación, se relacionan las fórmulas para calcular el área de las figuras geométricas planas:

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img119.png").img-fluid  
        p.text-center Gráfica 25. Fórmulas para calcular Áreas de figuras planas 

    .jumbotron.bg-white#aplicacion_del_area_de_las_figuras_geometricas
        .sub-line
            h2 6.4 Aplicación del área de las figuras geométricas

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/5Ikz-cW4VSU', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    .jumbotron.bg-white#perimetro_de_las_figuras_planas
        .sub-line
            h2 6.5 Perímetro de las figuras planas
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/R9Vjy8a_9rw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        p.mt-5 A continuación, se relacionan las fórmulas para calcular el perímetro de figuras geométricas:

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img128.png").img-fluid 
        p.text-center Gráfica 31. Fórmulas para calcular el perímetro de figuras planas  

    .jumbotron.bg-white#aplicacion_perimetro_de_las_figuras_planas
        .sub-line
            h2 6.6 Aplicación del perímetro de figuras planas
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/nF4MyiGctDU', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
      
    .jumbotron.bg-white#rotacion_de_figuras_en_un_plano
        .sub-line
            h2 <b>6.7 al 6.10</b> Rotación de figuras en un plano
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/5TmJH8GV0cw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')


        p La rotación es un movimiento definido en cualquier espacio. La rotación de una figura en un plano es hacer un giro alrededor de un punto fijo dentro del plano cartesiano, en sentido contrario a las manecillas del reloj.
        img.mxw.img-a.my-5(src="assets/images/pages/ilustraciones/img132.png").img-fluid 
        p.text-center Gráfica 34. Rotación de una figura plana

        p El triángulo que se nuestra en plano cartesiano puede rotar en diferentes ángulos (90°, 180°, 360°). 

    .jumbotron.bg-white#aplicacion_rotacion_de_figuras_en_un_plano
        .sub-line
            h2 6.8 Aplicación de rotación de figuras en un plano
        h1 video Veamos un ejemplo de rotar una figura en un plano cartesiano:

    .jumbotron.bg-white#traslacion_de_figuras_en_un_plano
        .sub-line
            h2 6.9 Traslación de figuras en un plano

        p La traslación de una figura es un movimiento directo dentro del plano cartesiano sin cambiar de orientación, manteniendo su forma y tamaño y realizando un desplazamiento en cualquier dirección: 
        img.mxw.img-a.my-5(src="assets/images/pages/ilustraciones/img133.png").img-fluid 
        p.text-center Gráfica 35. Traslación de una figura plana
        p En la figura anterior el triángulo se desplaza del punto A al punto B, realizando un deslizamiento sobre la línea recta, conservando todas sus propiedades de forma y longitud.


    .jumbotron.bg-white#aplicacion_traslacion_de_figuras_en_un_plano
        .sub-line
            h2 6.10 Aplicación de traslación de las figuras en un plano
        h1 En el video has podido analizar que la traslación la figura sufre un desplazamiento en determinadas unidades que deben especificarse. 
        section.my-5

            a(href="https://youtu.be/C3Ydl25rESg" target="_blank").media-link      

                img(src="assets/images/pages/ilustraciones/icon_www.svg", alt="").media-link-icon

                .media-link-title
                    p #[strong Anexo]. Cómo realizar la traslación de una figura geométrica en el plano cartesiano 

    .jumbotron.bg-white#volumen
        .sub-line
            h2 6.11 Volumen
        p El volumen es una magnitud derivada de la longitud que mide el largo x ancho x alto de un objeto en cualquier espacio:
        img.mxw.img-a.my-5(src="assets/images/pages/ilustraciones/img134.png").img-fluid 
        p.text-center Gráfica 36. Volumen de un cubo
        p En el sistema métrico decimal las unidades más utilizadas para medir el volumen se relacionan a continuación:
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img135.png").img-fluid 
        p.text-center Tabla 9. Unidades cúbicas del sistema métrico decimal
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img136.png").img-fluid 
        p.text-center Gráfica 37. Volumen de figuras en tres dimensiones
        p Las anteriores figuras corresponden a una esfera, un cubo y un cilindro con sus respectivas medidas para el cálculo del volumen.

	
    
    .jumbotron.bg-white#aplicacion_volumen
        .sub-line
            h2 6.12 Aplicación de volumen

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/clIcigxzsfg', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

