.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Aleatoriedad::
            | es el estudio de los fenómenos aleatorios o de azar que está compuesto de eventos cuyos resultados no pueden predecirse hasta que ocurran. 
        
        p
            strong.mr-2 Área:
            | es una medida que especifica el tamaño de una extensión o superficie determinada.
        p 
            strong.mr-2 Combinatoria:
            | son todas las posibles agrupaciones que pueden hacerse con m elementos de un conjunto.

        p
            strong.mr-2 Combinación:
            | es una selección no ordenada de r elementos de un conjunto que contiene n elementos distintos.
        p 
            strong.mr-2 Desviación media:
            | es la medida de lo que se desvía cada dato del conjunto respecto de la media aritmética.

        p 
            strong.mr-2 Ecuación:
            | es una igualdad matemática entre dos expresiones que están separadas por el signo igual, en las que aparecen datos conocidos (números, coeficientes o constantes) y datos desconocidos o incógnitas.
        p 
            strong.mr-2 Función:
            | es la relación que existe entre dos conjuntos, de manera que a los elementos de x les corresponde a lo más un elemento de y.


        p 
            strong.mr-2 Media aritmética:
            | es el valor que se obtiene al sumar todos los datos y dividir el resultado entre la cantidad de datos.

        p 
            strong.mr-2 Mediana:
            | es aquel valor que divide al conjunto de datos en dos partes iguales.

        p 
            strong.mr-2 Moda:
            | es la medida que se relaciona con el dato que se presenta con mayor frecuencia en un grupo o conjunto de datos.                                                          

        p 
            strong.mr-2 Permutación:
            | es la variación del orden de los elementos de un conjunto.

        p 
            strong.mr-2 Perímetro:
            | es la longitud total del contorno de una figura.

        p 
            strong.mr-2 Probabilidad:
            | es la posibilidad de que ocurra un determinado evento o suceso.

        p 
            strong.mr-2 Relación:
            | es la correspondencia de un primer conjunto llamado Dominio o Partida, con un segundo conjunto llamado Recorrido, Rango o Llegada. 

        p 
            strong.mr-2 Rotación:
            | es hacer un giro alrededor de un punto fijo dentro del plano cartesiano.  

        p 
            strong.mr-2 Traslación:
            | es un movimiento directo dentro del plano cartesiano sin cambiar de orientación, manteniendo su forma y tamaño y realizando un desplazamiento en cualquier dirección.

        p 
            strong.mr-2 Volumen:
            | es una magnitud derivada de la longitud que mide el largo x ancho x alto de un objeto en cualquier espacio.                                                    