

.container
    .header-ecored
        h1 Introducción        
.container
    .row
        .col
            .card

                img.img-a.mx-0(src="assets/images/pages/ilustraciones/01.jpg").img-fluid 
                
                .card-body.mt-0
                    p Los conceptos matemáticos y la forma de operarlos están directamente vinculados con las actividades que realizamos en la vida cotidiana, por ejemplo, nociones como relación y función están continuamente en nuestras vidas. Por ejemplo, cuando a cada persona le corresponde un número de identificación como el registro de nacimiento, la tarjeta de identidad, la cédula o el pasaporte y también cuando se hacen proyecciones económicas o se estudian fenómenos de la naturaleza.
                    br
                    p En esta unidad estudiaremos las diferentes relaciones de correspondencia entre elementos, las funciones matemáticas que coordinan estas relaciones, y la forma de combinar estos elementos, de tal manera que no se repitan. Sumado a esto, se estudiarán los problemas cotidianos de los que desconocemos variables, para entender qué necesitamos de un sistema para hallarlas. Así mismo, analizaremos las tendencias de los datos que se basan en información histórica, que se aplican a pronósticos que están en la cotidianidad para predecir resultados en diferentes tópicos de la economía y en las ciencias.
                    br
                    p Finalmente, todos los conceptos que podemos aplicar en las situaciones rutinarias están ligados a la forma de ubicarnos y orientarnos en el espacio que nos rodea, por lo tanto, también abordaremos el entorno relacionado con los objetos y figuras geométricas.
