.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody
                tr
                    td
                        strong Matemóvil.com (2018, 29 de agosto). 
                    td Media, Mediana y Moda. [video]. YouTube.
                    td 
                        a(href="https://www.youtube.com/watch?v=jiceVfALmV0", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span>Ver video

                tr                    

                    td
                        strong Matemáticas profe Alex.com (2017, 12 de junio)
                    td Desviación media. [video]. YouTube.

                    td 
                        a(href="https://www.youtube.com/watch?v=YBEKojF4E94", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span>Ver video

                tr
                    td
                        strong Matemóvil.com (2019, 14 de julio)
                    td Teorema de Probabilidad Total. [video]. YouTube.

                    td 
                        a(href="https://www.youtube.com/watch?v=MJxbMAko6rU", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span>Ver video

                tr                    

                    td
                        strong Yo estudio.com (2013, 5 de agosto)
                    td Matemática – Ejercicio de rotación. [video]. YouTube.


                    td 
                        a(href="https://www.youtube.com/watch?v=-rwW9GKBMEg&feature=youtu.be", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span>Ver video      

                tr                    

                    td
                        strong Matemáticas profe Alex.com (2016, 6 de noviembre)
                    td Traslación en el plano cartesiano. [video]. YouTube.


                    td 
                        a(href="https://www.youtube.com/watch?v=C3Ydl25rESg&feature=youtu.be", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span>Ver video                                              
                        
