include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
    
        +referenciaItem("Aguilar, A. (2015). Matemáticas simplificadas. (4a. ed.). Pearson Educación. ", "http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=4829")

        +referenciaItem("Ibáñez, P. (2018). Matemáticas I. Cengage. ", "http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=8213")
        
        +referenciaItem("Veerarajan, T. (2008). Matemáticas discretas. McGraw-Hill Interamericana.", "http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=3116")