.bg-color-naranja {
    background-color: orange;
}
.text-white{
    color: white;
}
.text-black{
    color:black;
}
.text-blue{
    color: #1B2950;
    text-align: center;
}

.text-green{
    color: #1EC488;    
}

.text-red{
    color:red;
}
.img-a {
    display:block;
    margin:auto;
}

// Estilos tema 1
.bd-hr{
    border: 1px solid #707070;
}

.bd-hr-blue{
    border: 1px solid #6278AA;
    margin-bottom: 0px;
    margin-top: 0px;
}

.border-radius{
    border-radius: 10px;
}

.bg-color1{
    background-color:#E8E8E8;
}

.bg-color2{
    background-color:#D5F4FC;
}
.bg-color{
    background-color: #FDF8EB ;
    padding: 1.5rem;
}
.mw{
    max-width: 100%;
}

.margin{
    margin-right: inherit !important;
}

.sub-line {
    h2,h3 {
        overflow: hidden;
        font-weight: 700;
    }

    h2:after,h3:after {
        content:"";
        display: inline-block;
        height: 0.5em;
        vertical-align: bottom;
        width: 100%;
        margin-right: -100%;
        margin-left: 10px;
        border-top: 1px solid $orange;
    }
}

.sub-title-line {
    h2,h3 {
        overflow: hidden;
        font-weight: 700;
    }

    h2:after,h3:after {
        content:"";
        display: inline-block;
        height: 0.5em;
        vertical-align: bottom;
        width: 100%;
        margin-right: -100%;
        margin-left: 10px;
        border-top: 1px solid #80DEEA;
    }
}

.br-sup{
    border-radius: 10px 10px 0px 0px;
}
.br-inf{
    border-radius: 0px 0px 10px 10px;
}

.ejemplo{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1B2950;
}

.vl {
    border-left: 2px solid #C8C8C8;
    height: 100px;
  }
.bg-p{
    background-color: #FCDDD5;
}

.bg-p2{
    background-color: #D5F4FC;
}

.table2{
    background-color: #D5F4FC;
    border: 1px solid black;
}
.table1{
    background-color: #0D468F;
    color: white;
    border: 1px solid black;
}

.table3{
    background-color: #D5F4FC;
    color: black;
    border: 1px solid black;
}
.mxw{
    max-width: 50%;
}
	
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

.centrado{
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.list {
    width: 100%;
    display: flex !important;    
    &__item {
      &__bulletNumber {
        position: relative;
        width: 30px;
        height: 30px;   
        margin-right: 1rem;   
        text-align: center;
        border-radius: 50%;
        background-color: orange;
        span {
          color: white;
          font-weight: 700;
          font-size: small;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);        
        }
      }
      &__number {
        position: relative;  
        margin-right: 1rem;    
        span {                
          color: orange;
          font-size: 15pt;
          font-weight: 700;
          line-height: 1.2;        
        }      
      }
      &__icon {
        position: relative;
        width: 15px;
        margin-right: 0.65rem;
        img {
          width: 15px;
          vertical-align: middle;
        }
      }
    }
    &__txt {  
      p:first-child, h3:first-child {
        margin-top: 4px;
      }  
    }
  }
  